text{
    fill: rgb(78, 64, 201);
    font-size: 15px;
  }
  
  .dot text{
    opacity: 0;
    pointer-events: none;
  }
  
  .dot:hover text{
    opacity: 1;
    font-size: 170%;
    fill :rebeccapurple;
    font-family: fantasy, Georgia, 'Times New Roman', Times, serif;
  }
  
  .dot:hover circle{
    fill: rgb(49, 133, 158);
  }
  
  .dot{
    cursor: pointer;
    fill:rosybrown;
  } 
  h1{
      color:rgb(24, 142, 179);
  }
  
