.  
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.title {
  text-align:center;
}
.hover-content{
  top: 0;
  left: 0;
  max-width: 300px;
  background-color: rgb(240, 212, 235);
  padding: .5em;
  opacity: 0;
  /* need to remove pointer events so that
  the tooltip doesn't interrupt the mouse events */
  pointer-events: none;
  border-radius: 5px;
  box-shadow: 0 0 7px rgb(175, 69, 69);
}

.hover-content.visible{
  opacity: 1;
}

body { 
  background-color: rgb(217, 237, 240);
}
h2 {
  color:purple;
  text-transform: capitalize;
}
